@media only screen and (max-width : 768px) {
  .container{
  width:  740px;
  }
  header{
  height: 46px;
  }
  .row-1{
  height: 46px;
  }
  .row-1 h1{ 
  width: 700px;
  padding: 15px 30px 0px 30px;
  font-size: 18px;
  }
  .logonavigation{
  width: 740px;
  height: 78px;
  }
  .logo{
  width: 238px;
  }
  .logo img{
   width: 238px;
   height: 50px;
   margin: 13px 0 10px 0;
  }
  .search {
  margin: 30px 0 12px 20px;
  width: 250px;
  height: 28px;
  border-radius: 5px;
  }
  .text {
  width: 220px;
  height: 26px;
  }
  .text input {
  width: 220px;
  height: 26px;
  padding: 2px 0 0 4px;
  font-size: 9px;
  }
  .text input {
  color: #e0052b;
  }
  .icon1 {
  width: 30px;
  height: 26px;
  border-radius: 0 7px 7px 0;
  }
  .icon1 a {
  margin: 6px 3px 3px 7px;
  }
  .by {
  float: left;
  width: 200px;
  height: 40px;
  margin: 30px 0 5px 2px;
  }
  .by ul li{
  width: 60px;
  padding: 5px 0 2px 5px;
  }
  .by ul li a{
  font-size: 10px;
  }
  .menu{
  height: 20px;
  }
  .menu ul {
    height: 20px;
  }
  .menu li {
  width: 58px;
  height: 30px;
  line-height: 2px;
  font-size: 8px;
  }  
  .box-1{
  float: left;
  width: 100%;
  height: 220px;
  }
  .box-1 h3{
  height: 18px;
  font-size: 12px;
  padding: 4px 0 0px 0px;
  }
  .box-1 hr{
  margin-top: -5px;
  height: 0.5px;
  }
  .chitiet img{
  float: left;
  width: 170px;
  height: 190px;
  }
  .thongtin{
  width: 180px;
  height: 190px;
  }
  .thongtin h4{
  font-size: 12px;
  color: orange;
  margin: 15px 0 0 30px;
  }
  .thongtin p{
  font-size: 12px;
  color: red;
  margin: 10px 0 0 30px;
  }
  .box-box{
  margin: 5px 0 0 30px;
  width: 120px;
  height: 26px;
  border-radius: 5px;
  }
  .box-box p{
  font-size: 12px;
  margin: 5px 0 0 10px;
  padding: 5px 0;
  }
  .tin ul {
  width: 360px;
  margin: 15px 0 0 50px;
  }
  .tin li {
  font-size: 12px;
  height: 18px;
  line-height: 16px;
  padding: 2px 1px;
  }
  .box-2{
  height: 230px;
  }
  .box-2 h3{
  height: 18px;
  font-size: 14px;
  padding: 3px 0 1px 0px;
  }
  .box-2 hr{
  height: 1px;
  }
  .sp{
  height: 206px;
  }
  .box-sp a{
  width: 146px;
  height: 204px;
  }
  .box-sp img{
  width: 100%;
  height: 160px;
  }
  .box-sp b{
  font-size: 12px;
  padding: 5px 0 0 10px;
  }
  .box-sp p{
  font-size: 12px;
  padding: 5px 0 0 18px;
  }
 .box-3{
  height: 190px;
  margin: 2px 0 2px 0;
  }
  .box-3 h3{
  height: 18px;
  font-size: 12px;
  padding: 4px 0 0px 0px;
  }
  .box-3 hr{
  margin-top: -2px;
  height: 0.5px;
  }
  .thongso{
  height: 180px;
  margin-top: 2px;
  }
  .thongso ul {
  height: 160px;
  width: 95%;
  }
  .tt{
  margin-left: 5px;
  }
  .thongso li {
  height: 22px;
  line-height: 14px;
  font-size: 12px;
  border-bottom: 0.2px solid #fff;
  }
  .thongso a{
    padding-top: 3px;
  }
  .thongso .sub-menu{
  height: 120px;
  }
  article{
  height: 149px;
  }
  .col_1 {
  width: 185px;
  margin-left: 1px;
  }
  .col_1 .tieude {
  height: 18px;
  }
  .col_1 .tieude h5 {
  font-size: 12px;
  margin: 10px 0 0 0;
  }
  .col_1 ul {
  margin-top: 10px;
  height: 112px;
  }
  .col_1 ul li {
  font-size: 12px;
  padding: 2px 0 2px 1px;   
  }
  .col_2 {
  width: 240px;
  margin-left:5px;
  }
  .col_2 .tieude {
  height: 18px;
  }
  .col_2 .tieude h5 {
  font-size: 12px;
  margin: 10px 0px 0px 0;
  }
  .col_2 ul {
  margin-top: 8px;
  height: 122px;
  width: 230px;
  }
  .col_2 ul li {
  font-size: 12px;
  width: 230px;
  padding: 5px 0 2px 0px;
  }
  .col_3 {
  width: 268px;
  }
  .col_3 .tieude {
  height: 18px;
  }
  .col_3 .tieude h5 {
  height: 20px;
  font-size: 12px;
  margin: 10px 0 0 4px;
  }
  .col_3 .tieude img{
    display: none;
  }
  .col_3 .hinh {
  width: 265px;
  height: 95px;
  }
  .col_3 .hinh p {
  font-size: 12px;
  padding: 10px 2px 2px 4px;
  }
  footer{
  height: 41px;
  }
  .add {
  height: 21px;
  }
  .add p {
  padding: 12px 0 4px 0px;
  font-size: 13px;
  }
  .add a {
  padding: 12px 4px 1px;
  font-size: 13px;
  }
}

@media only screen and (max-width : 480px) {
  .container{
  width:  460px;
  }
  header{
  height: 32px;
  }
  .row-1{
    height: 32px;
  }
  .row-1 h1{ 
  width: 400px;
  padding: 8px 30px 0px 30px;
  font-size: 14px;
  }
  .logonavigation{
  width: 460px;
  height: 48px;
  }
  .logo{
  width: 108px;
  }
  .logo img{
   width: 88px;
   height: 20px;
   margin: 13px 0 10px 0;
  }
  .search {
  margin: 15px 0 12px 0;
  width: 202px;
  height: 22px;
  border-radius: 5px;
  }
  .text {
  width: 172px;
  height: 22px;
  }
  .text input {
  width: 170px;
  height: 15px;
  padding: 5px 0 0 4px;
  font-size: 8px;
  }
  .text input {
  color: #e0052b;
  }
  .icon1 {
  width: 24px;
  height: 22px;
  border-radius: 0 7px 7px 0;
  }
  .icon1 a {
  margin: 2px 3px 3px 7px;
  }
  .by {
  width: 140px;
  height: 30px;
  margin: 10px 0 9px 3px;
  }
  .by ul li{
  width: 40px;
  padding: 5px 0 2px 5px;
  }
  .by ul li a{
  font-size: 7px;
  }
  .menu{
  height: 20px;
  }
  .menu ul {
    height: 20px;
  }
  .menu li {
  width: 58px;
  height: 30px;
  line-height: 2px;
  font-size: 8px;
  }  
  .box-1{
  float: left;
  width: 100%;
  height: 160px;
  }
  .box-1 h3{
  height: 14px;
  font-size: 8px;
  padding: 4px 0 0px 0px;
  }
  .box-1 hr{
  margin-top: -5px;
  height: 0.5px;
  }
  .chitiet img{
  float: left;
  width: 120px;
  height: 140px;
  }
  .thongtin{
  width: 180px;
  height: 140px;
  }
  .thongtin h4{
  font-size: 8px;
  color: orange;
  margin: 5px 0 0 20px;
  }
  .thongtin p{
  font-size: 8px;
  color: red;
  margin: 10px 0 0 20px;
  }
  .box-box{
  margin: 5px 0 0 20px;
  width: 80px;
  height: 16px;
  border-radius: 5px;
  }
  .box-box p{
  font-size: 8px;
  margin: 5px 0 0 10px;
  padding: 5px 0;
  }
  .tin ul {
  width: 160px;
  margin: 5px 0 0 20px;
  }
  .tin li {
  font-size: 8px;
  height: 12px;
  line-height: 8px;
  padding: 2px 1px;
  }
  .box-2{
  height: 170px;
  }
  .box-2 h3{
  height: 18px;
  font-size: 12px;
  padding: 3px 0 1px 0px;
  }
  .box-2 hr{
  height: 1px;
  }
  .sp{
  height: 146px;
  }
  .box-sp a{
  width: 90px;
  height: 144px;
  }
  .box-sp img{
  width: 100%;
  height: 110px;
  }
  .box-sp b{
  font-size: 8px;
  padding: 3px 0 0 3px;
  }
  .box-sp p{
  font-size: 8px;
  padding: 3px 0 0 5px;
  }
 .box-3{
  height: 140px;
  margin: 2px 0 2px 0;
  }
  .box-3 h3{
  height: 14px;
  font-size: 8px;
  padding: 4px 0 0px 0px;
  }
  .box-3 hr{
  margin-top: -2px;
  height: 0.5px;
  }
  .thongso{
  height: 140px;
  margin-top: 2px;
  }
  .thongso ul {
  height: 120px;
  width: 90%;
  }
  .tt{
  margin-left: 5px;
  }
  .thongso li {
  height: 16px;
  line-height: 4px;
  font-size: 8px;
  border-bottom: 0.2px solid #fff;
  }
  .thongso a{
    padding-top: 3px;
  }
  .thongso .sub-menu{
  height: 120px;
  }
  article{
  height: 89px;
  }
  .col_1 {
  width: 125px;
  margin-left: 1px;
  }
  .col_1 .tieude {
  height: 14px;
  }
  .col_1 .tieude h5 {
  font-size: 10px;
  margin: 3px 0 0 0;
  }
  .col_1 ul {
  height: 42px;
  }
  .col_1 ul li {
  font-size: 8px;
  padding: 2px 0 2px 1px;   
  }
  .col_2 {
  width: 160px;
  margin-left:5px;
  }
  .col_2 .tieude {
  height: 14px;
  }
  .col_2 .tieude h5 {
  font-size: 10px;
  margin: 3px 0px 0px 0;
  }
  .col_2 ul {
  height: 72px;
  width: 110px;
  }
  .col_2 ul li {
  font-size: 8px;
  width: 150px;
  padding: 2px 0 2px 0px;
  }
  .col_3 {
  width: 168px;
  }
  .col_3 .tieude {
  height: 14px;
  }
  .col_3 .tieude h5 {
  font-size: 10px;
  margin: 3px 0 0 4px;
  }
  .col_3 .tieude img{
    display: none;
  }
  .col_3 .hinh {
  width: 147px;
  height: 75px;
  }
  .col_3 .hinh p {
  font-size: 8px;
  padding: 5px 2px 2px 4px;
  }
  footer{
  height: 21px;
  }
  .add {
  height: 21px;
  }
  .add p {
  padding: 4px 0 4px 0px;
  font-size: 12px;
  }
  .add a {
  padding: 4px 4px 1px;
  font-size: 10px;
  }
}


@media only screen and (max-width : 320px) {
  .container{
  width:  300px;
  }
  header{
  height: 32px;
  }
  .row-1 h1{ 
  padding: 8px 60px 0px 30px;
  font-size: 14px;
  }
  .logonavigation{
  width: 320px;
  height: 48px;
  }
  .logo{
  width: 78px;
  }
  .logo img{
   width: 68px;
   height: 20px;
   margin: 13px 0 10px 0;
  }
  .search {
  margin: 10px 0 12px 0;
  width: 102px;
  height: 28px;
  border-radius: 5px;
  }
  .text {
  width: 72px;
  height: 26px;
  }
  .text input {
  width: 70px;
  height: 26px;
  padding: 2px 0 0 4px;
  font-size: 9px;
  }
  .text input {
  color: #e0052b;
  }
  .icon1 {
  width: 30px;
  height: 26px;
  border-radius: 0 7px 7px 0;
  }
  .icon1 a {
  margin: 6px 3px 3px 7px;
  }
  .by {
  width: 130px;
  height: 30px;
  margin: 10px 0 9px 3px;
  }
  .by ul li{
  width: 38px;
  padding: 5px 0 2px 0;
  }
  .by ul li a{
  font-size: 7px;
  }
  .menu{
  height: 20px;
  }
  .menu ul {
    height: 20px;
  }
  .menu li {
  width: 38px;
  height: 30px;
  line-height: 2px;
  font-size: 8px;
  }  
  .box-1{
  float: left;
  width: 100%;
  height: 160px;
  }
  .box-1 h3{
  height: 14px;
  font-size: 8px;
  padding: 4px 0 0px 0px;
  }
  .box-1 hr{
  margin-top: -5px;
  height: 0.5px;
  }
  .chitiet img{
  float: left;
  width: 120px;
  height: 140px;
  }
  .thongtin{
  width: 180px;
  height: 140px;
  }
  .thongtin h4{
  font-size: 8px;
  color: orange;
  margin: 5px 0 0 20px;
  }
  .thongtin p{
  font-size: 8px;
  color: red;
  margin: 10px 0 0 20px;
  }
  .box-box{
  margin: 5px 0 0 20px;
  width: 80px;
  height: 16px;
  border-radius: 5px;
  }
  .box-box p{
  font-size: 8px;
  margin: 5px 0 0 10px;
  padding: 5px 0;
  }
  .tin ul {
  width: 160px;
  margin: 5px 0 0 20px;
  }
  .tin li {
  font-size: 8px;
  height: 12px;
  line-height: 8px;
  padding: 2px 1px;
  }
  .box-2{
  height: 130px;
  }
  .box-2 h3{
  height: 10px;
  font-size: 8px;
  padding: 1px 0 1px 2px;
  }
  .box-2 hr{
  height: 0.5px;
  }
  .sp{
  height: 120px;
  }
  .box-sp a{
  width: 58px;
  height: 130px;
  }
  .box-sp img{
  width: 100%;
  height: 80px;
  }
  .box-sp b{
  font-size: 7px;
  padding: 3px 0 0 3px;
  }
  .box-sp p{
  font-size: 7px;
  padding: 3px 0 0 5px;
  }
 .box-3{
  height: 140px;
  margin: 2px 0 2px 0;
  }
  .box-3 h3{
  height: 14px;
  font-size: 8px;
  padding: 4px 0 0px 0px;
  }
  .box-3 hr{
  margin-top: -2px;
  height: 0.5px;
  }
  .thongso{
  height: 140px;
  margin-top: 2px;
  }
  .thongso ul {
  height: 120px;
  width: 90%;
  }
  .tt{
  margin-left: 5px;
  }
  .thongso li {
  height: 16px;
  line-height: 4px;
  font-size: 8px;
  border-bottom: 0.2px solid #fff;
  }
  .thongso a{
    padding-top: 3px;
  }
  .thongso .sub-menu{
  height: 120px;
  }
  article{
  height: 69px;
  }
  .col_1 {
  width: 85px;
  margin-left: 1px;
  }
  .col_1 .tieude {
  height: 12px;
  }
  .col_1 .tieude h5 {
  font-size: 8px;
  margin: 3px 0 0 0;
  }
  .col_1 ul {
  height: 42px;
  }
  .col_1 ul li {
  font-size: 6px;
  padding: 2px 0 2px 1px;   
  }
  .col_2 {
  width: 110px;
  margin-left:5px;
  }
  .col_2 .tieude {
  height: 12px;
  }
  .col_2 .tieude h5 {
  font-size: 8px;
  margin: 3px 0px 0px 0;
  }
  .col_2 ul {
  height: 42px;
  width: 110px;
  }
  .col_2 ul li {
  font-size: 6px;
  width: 100px;
  padding: 2px 0 2px 0px;
  }
  .col_3 {
  width: 98px;
  }
  .col_3 .tieude {
  height: 12px;
  }
  .col_3 .tieude h5 {
  font-size: 8px;
  margin: 3px 0 0 4px;
  }
  .col_3 .tieude img{
    display: none;
  }
  .col_3 .hinh {
  width: 97px;
  height: 45px;
  }
  .col_3 .hinh p {
  font-size: 6px;
  padding: 5px 2px 2px 4px;
  }
  footer{
  height: 21px;
  }
  .add {
  height: 21px;
  }
  .add p {
  padding: 4px 0 4px 0px;
  font-size: 12px;
  }
  .add a {
  padding: 4px 4px 1px;
  font-size: 10px;
}